body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #222;
	color: white;
}

.container {
	text-align: center;
}

#relogio {
	font-size: 4rem;
	font-weight: bold;
	background: black;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}